.boxContacto {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;

}

.boxFieldset {
	padding: 20px;
	box-sizing: border-box;
}

.tituloContacto {
	font-size: 3.5rem;
}

label {
	font-size: 2rem;
}

input {
	font-size: 2rem;
}